@import url('https://fonts.googleapis.com/css?family=Moul');
@import url('https://fonts.googleapis.com/css?family=Khmer');
.container{
	width:1100px;
}
body{
	background: url('../img/background-welcome.jpg');
	font-family: "Khmer OS",'Khmer' !important;
}
.wrapper{

}

@media print {
	.col-sm-2 {
		float: left;
	}

}

.boldtext{
	font-weight: bold; font-family: 'Moul', 'Khmer';
}
.kh_head2{
	font-family: 'Moul','Khmer', cursive;
}
.row{
	margin-top: 10px;
}
/*.btn.btn-app {*/
	/*position: relative;*/
	/*padding: 9px 5px !important;*/
	/*margin: 0 0 10px 10px;*/
	/*min-width: 55px !important;*/
	/*height: 45px !important;*/
/*}*/
.form-control{
	height:42px !important;
}
#addRow{
	border: thin solid;
	padding: 10px;
	color: green;
}
.nav.child_menu li ul li{
	padding-left:10px;
}
.x_title span{
	color:#337ab7 !important
}
.my_arrow{
	color: green;
	font-size: 30px;
	margin-top: -55px;
	margin-left: 67px;

}
.img-circle{
	border-radius:0px !important;
}
.x_title h2{
	padding: 5px 0px 5px 0px;
}
@media print {
	.x_panel{
		background: none !important;
		border: none !important;
	}
}
.myrow{
	margin-bottom: 20px;
}
.login{
	/*background: #ffffff;*/
	background-image: url('../img/background-welcome.jpg');
}
.login_form{
	background: #ffffff;
	border: rgba(0,0,0,.25) thin solid;
	padding: 20px;
	border-radius: 5px;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.85;
}
.col-centered{
	float: none !important;
	margin: 50px auto;
}
@media print {
	.normal_text{
		font-size: 10px;
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		padding: 4px;
		font-size: 10px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
}