@font-face {
    font-family: khmer;
    src: url(../fonts/khmer.ttf);
}
body{
    background: #eee;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, khmer;
}
.delete_row,.delete_row a{
    color:red !important;
    font-style: italic !important;
}
textarea{
    resize: none;
}
/*search*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 5px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#custom-search-input .input-group-btn{
    width: 1%!important;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 270px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 5px;
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav i{
    margin-left: -22px;
    color: #000;
    font-size: 12px;
    padding-right: 5px;
}
.sidebar-nav a i{
    margin-left: -25px;
    color: #000;
    font-size: 18px;
    padding-right: 5px;
}
.sidebar-nav li a:hover i {
    color: #00ff04;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-left: -10px;
}
.sidebar-nav li a{
    text-indent: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #000;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
    background: none;
}
.navbar-brand a:hover{
    text-decoration: none;
}
#wrapper .container-fluid{
    margin-top: 40px;
}

#loading {
    width: 40px;
    position: fixed;
    height: 40px;
    background-color: #ffffff;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    top: 30%;
    left: 50%;
    display: none;
    z-index:9999;
}
.duration{
    float: right;
    position: relative;
    top: -22px;
    left: 0px;
    color: #FFF;
    background: #afa5a5;
    padding: 0 12px;
    font-size: 16px;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        background-color: #cccb00;
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          background-color: #ff3a67;
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            background-color: #4eff4d;
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
/*end loading*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 240px;
        margin-right: -10px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media screen and (min-width: 400px){
    .embed-responsive-item{
        max-height: 500px;
        min-height: 400px;
    }
}

/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    #aFooter{
        position: fixed;
        bottom: 0;
    }
}

.thumbnail .row input{
    height: 25px;
    border-radius: 0;
}
.thumbnail{
    position: relative;
}
a.table:hover,a.table:active{
    text-decoration: none;
}
.thumbnail p{
    position: absolute;
    background: rgba(74, 162, 29, 0.69);
    width: 95%;
    padding: 5px;
    color: #f9f5f5;
    display: none;
}
.thumbnail:hover > p{
    display: block;
}
.thumbnail.text-center{
    min-height: 100px;
    line-height: 100px;
    border: solid #90f111 2px;
}
.thumbnail.text-center.active{
    background: #0b2d07;
    color: #FFF;
}
.thumbnail.text-center:hover{
    background: #dcdada;
    color: #13b716;
}
.panel-footer .btn{
    font-size: 12px;
}
tr.active>td{
    background-color: #5292c9!important;
    color: #fff;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}
form .panel-body{
    padding: 20px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
/*card*/
.panel-green,.panel-red,.panel-yellow,.panel-primary{
    margin-bottom: 10px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}
.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}
.timeline > li {
    position: relative;
    margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.huge{
    font-size: 20px;
}
/*end card*/

.pagination {
    margin: 5px -10px 0px;
}
.panel-footer .text-right{
    padding: 10px;
}
td a.active{
    font-weight: bold;
    color: #444;
}
/*custom check box*/
input[type=radio], input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: 0px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}
input[type=checkbox]:checked:before,input[type=radio]:checked:before {
    content: "\f00c";
    margin: 0;
    color: #1e8cbe;
    font: normal normal normal 14px/1 FontAwesome;
}
.control{
    float: right;
    margin: -24px 20px;
    cursor: pointer;
    display: none;
}
li:hover>.control{
    display: block;
}
.table-hover>tbody>tr:hover{
    cursor: pointer;
}
.modal-header h5{
    display: table-cell;
    vertical-align: middle;
}
li .search{
    margin:0 0 5px!important;
}
/*customize background color*/
/*.navbar-default{*/
    /*background: #1e5799; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #3498e5 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#3498e5 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#3498e5 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#3498e5',GradientType=0 ); !* IE6-9 *!*/
/*}*/
/*form .panel-heading{*/
    /*background: rgb(210,223,237); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); !* IE6-9 *!*/
/*}*/
.panel-heading h3{
    margin: 0;
    font-size: 30px;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
/*.panel-heading h3 i:before{*/
    /*background-color: #666666;*/
    /*-webkit-background-clip: text;*/
    /*-moz-background-clip: text;*/
    /*background-clip: text;*/
    /*color: transparent;*/
    /*text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;*/
/*}*/
.panel-heading h3{
    color:#333;
}
form .panel-default{
    /*border:#b3caea solid 2px;*/
}
/*form .panel-footer{*/
    /*padding: 0 15px;*/
    /*background: rgb(235,241,246); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); !* IE6-9 *!*/
/*}*/
form .panel-footer .col-md-6{
    padding:10px;
}
form input,form button[type="button"]{
    border: solid 1px #aac3e5!important;
}
.thumbnail{
    background-color: #e9eef1!important;
}
form .dropdown-toggle{
    padding-right: 25px;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dropdown-menu{
    width: 92%!important;
    margin: -1px 16px!important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-default .navbar-nav>li>a{
    color: #333;
}
.navbar-default{
    background-color: #f5f5f5;
}
.btn-info{
    color:#333333 !important;
}