@import url('https://fonts.googleapis.com/css?family=Moul');
@import url('https://fonts.googleapis.com/css?family=Khmer');
.container{
	width:1100px;
}
body{
	background: url('../img/background-welcome.jpg');
	font-family: "Khmer OS",'Moul','Khmer' !important;
}
.wrapper{

}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
	padding-right: 5px !important;
}
#print{
	size: 7in 9.25in;
	margin: 27mm 16mm 27mm 16mm;
	padding: 5mm;
	border: thin solid #e5e5e5;
}
#datatable-buttons{
	width:100% !important;
	display: block;
}
.scroll_div{
	overflow: scroll;
}
.kh_head2{
	font-family: 'Moul','Khmer', cursive;
}
.row{
	margin-top: 10px;
}
.row_block{
	border-bottom: thin dotted;
	padding-bottom: 20px;
}
.content_error{
	min-height: 500px;
}

.thumbnail {
	 height: 100% !important;
	overflow: hidden;
}

/*.btn.btn-app {*/
	/*position: relative;*/
	/*padding: 9px 5px !important;*/
	/*margin: 0 0 10px 10px;*/
	/*min-width: 55px !important;*/
	/*height: 45px !important;*/
/*}*/
.form-control{
	height:42px !important;
}
#addRow{
	border: thin solid;
	padding: 10px;
	color: green;
}
.nav.child_menu li ul li{
	padding-left:10px;
}
.x_title span{
	color:#337ab7 !important
}
.my_arrow{
	color: green;
	font-size: 30px;
	margin-top: -55px;
	margin-left: 67px;

}
.img-circle{
	border-radius:0px !important;
}
.x_title h2{
	padding: 5px 0px 5px 0px;
}
@media print {
	.x_panel{
		background: none !important;
		border: none !important;
	}
}
.myrow{
	margin-bottom: 20px;
}
.login{
	/*background: #ffffff;*/
	background-image: url('../img/background-welcome.jpg');
}
.login_form{
	background: #ffffff;
	border: rgba(0,0,0,.25) thin solid;
	padding: 20px;
	border-radius: 5px;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.85;
}
.col-centered{
	float: none !important;
	margin: 50px auto;
}
